<!DOCTYPE html>
<!-- 
Template Name: dashgrin - Responsive Bootstrap 4 Admin Dashboard Template
Author: Hencework

License: You must have a valid license purchased only from themeforest to legally use the template for your project.
-->
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>dashgrin I Signup</title>
    <meta name="description" content="A responsive bootstrap 4 admin dashboard template by hencework" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/forms.css">

    <link href="frontend/dist/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<!-- HK Wrapper -->
	<!-- HK Wrapper -->
	<div class="hk-wrapper">

    <!-- Main Content -->
    <div class="hk-pg-wrapper hk-auth-wrapper">
        <header class="d-flex justify-content-between align-items-center">
            <a class="d-flex auth-brand" href="#">
                <img class="brand-img" src="frontend/dist/img/logo-dark.png" alt="brand" />
            </a>
          
        </header>
        <div class="container-fluid">
            <div class="row " style="justify-content: center;">
           
           
                <div class="col-xl-7 justify-content-between ">
                 
                    <div class="auth-form-wrap py-xl-0 py-50">
                        <div class="auth-form w-xxl-65 w-xl-75 w-sm-90 w-100 card pa-25 shadow-lg">
                            <% if (errorMessage) { %>
                                <div class="user-message user-message--error"><%= errorMessage %></div>
                            <% } %>
                            
                              <form  action="/login" method="POST">
                                <h1 class="display-4 mb-10">Welcome Back :)</h1>
                                <p class="mb-30">Sign in to your account and enjoy unlimited perks.</p>
                                  <div class="form-group">
                                      <label for="email">E-Mail</label>
                                      <input
                                      class="form-control<%=validationError.find(e=> e.param === 'email')?'invalid' : '' %> "  
                                       type="email" name="email" id="email" value="<%=oldInput.email%>" >
                                  </div>
                                  <div class="form-group">
                                      <label for="password">Password</label>
                                      <input
                                      class="form-control <%=validationError.find(e=> e.param === 'password')?'invalid' : '' %> " 
                                      type="password" name="password" id="password" value="<%=oldInput.password%>">
                                  </div>
                                  <div class="form-group">
                                      <div class="custom-control custom-checkbox small" style="line-height: 1.5rem;">
                                        <input type="checkbox" class="custom-control-input" id="customCheck">
                                        <label class="custom-control-label" for="customCheck">Remember
                                          Me</label>
                                      </div>
                                    </div>
                                  <input type="hidden" name="_csrf" value="<%= csrfTokenss %>">
                                  <button type="submit" class="btn btn-primary btn-block">Login</button>
                                 
                                  
                                </form>
                                <div class="option-sep">or</div>
                                <div class="form-row">
                                    <div class="col-sm-6 mb-20">
                                        <button class="btn btn-indigo btn-block btn-wth-icon"> <span class="icon-label"><i class="fa fa-facebook"></i> </span><span class="btn-text">Login with facebook</span></button>
                                    </div>
                                    <div class="col-sm-6 mb-20">
                                        <button class="btn btn-primary btn-block btn-wth-icon"> <span class="icon-label"><i class="fa fa-twitter"></i> </span><span class="btn-text">Login with Twitter</span></button>
                                    </div>
                                </div>
                                <p class="text-center">Do have an account yet? <a href="/signup">Sign Up</a></p>
                                <p class="text-center">Reset Password! <a href="/reset">Reset</a></p>
                             
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Main Content -->

</div>
<!-- /HK Wrapp
    <!-- jQuery -->
    <script src="frontend/vendors/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="frontend/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="frontend/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Slimscroll JavaScript -->
    <script src="frontend/dist/js/jquery.slimscroll.js"></script>

    <!-- Fancy Dropdown JS -->
    <script src="frontend/dist/js/dropdown-bootstrap-extended.js"></script>

    <!-- FeatherIcons JavaScript -->
    <script src="frontend/dist/js/feather.min.js"></script>

    <!-- Init JavaScript -->
    <script src="frontend/dist/js/init.js"></script>

</body>

</html>