<%- include('../adminInclude/header.ejs')%>
</head>
<body id="page-top">
    <div id="wrapper">
        <%- include('../adminInclude/sidenav.ejs') %>
        <%- include('../adminInclude/topnav.ejs') %>
        
       
<div class="container-fluid" id="container-wrapper">
    <div class="row ">
                        <div class="auth-form w-xxl-65 w-xl-75 w-sm-90 w-100 card pa-25 shadow-lg">
                            <% if (errorMessage) { %>
                                <div class="user-message user-message--error"><%= errorMessage %></div>
                            <% } %>
                          <form style="padding: 4pc;" action="/admin/add-admin" method="POST"  >
                                <h3 class="display-4 mb-10">Admin Sign up</h3>
                                <p class="mb-30">Admin access give you anuther pepole</p>
                                <div class="form-row">
                                  <div class="col-md-6 form-group">
                                      
                                      <input class=" form-control <%=validationError.find(e=> e.param === 'name')?'invalid' : '' %> " 
                                      type="text" name="name" id="name" placeholder="Name" value="<%=oldInput.name%>">
                                  </div>
                                  <div class="col-md-6 form-group">
                                    
                                      <input   class="form-control <%=validationError.find(e=> e.param === 'phone')?'invalid' : '' %> " 
                                      type="text" name="phone" id="phone" placeholder="Phone Number" value="<%=oldInput.phone%>">
                                    </div>
                                </div>
                              
                                  
                                  <div class="form-group">
                                     

                                      <input type="email"  class="form-control  <%=validationError.find(e=> e.param === 'email')?'invalid' : '' %> " name="email" id="email" value="<%=oldInput.email%>"placeholder="Your Email" >
                                  </div>
                                  <div class="form-row">
                                  <div class=" col-md-6 form-group">
                                  
                                      <input type="password"   class="form-control <%=validationError.find(e=> e.param === 'password')?'invalid' : '' %> " name="password" id="password" value="<%=oldInput.password%>" placeholder="Password">
                                  </div>
                                  <div class=" col-md-6 form-group">
                                      
                                      <input  type="password"  name="confirmPassword" class="form-control <%=validationError.find(e=> e.param === 'confirmPassword')?'invalid' : '' %> "  id="confirmPassword"placeholder="Confirm Password" value="<%=oldInput.confirmPassword%>">
                                   
                                    </div> 
                                </div>
                               
                                  <div class="form-group">
                                    <input type="hidden" name="_csrf" value="<%=csrfTokenss %>">
          
                                   
                                  </div>
                                
                               
                               
                                <div class="custom-control custom-checkbox mb-25">
                                    <input class="custom-control-input" id="same-address" type="checkbox" checked>
                                    <label class="custom-control-label font-14" for="same-address">I have read and agree to the <a href=""><u>term and conditions</u></a></label>
                                </div>
                                <button class="btn btn-success btn-block" type="submit">Register</button>
                                
                                
                            </form>
                        </div>   
                    </div>
                   </div>
              
          
    <%- include('../adminInclude/footer.ejs') %>

